.input-password {
  position: relative;

  input {
    padding-right: 34px !important;
  }

  i {
    position: absolute;
    top: calc(50% - 2px);
    right: 2px;
    transform: translateY(-50%);
    height: 32px;
    width: 32px;
    cursor: pointer;
    background: url('/images/icons/eye-show.svg') no-repeat center center;
    background-size: 30px 30px;

    &.show-password {
      background-image: url('/images/icons/eye-hide.svg');
    }
  }
}
