.matches-list {
  margin: 0;
  list-style: none;
  padding: 0;

  > li {
    border: 1px solid $light-grey;
    border-width: 0 0 1px 0;
    padding: 1rem 0;
    display: block;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    .match {
      display: flex;
      gap: 1rem;
      align-items: center;

      figure {
        height: 75px;
        width: 75px;
        display: flex;
        align-items: center;
        margin: 0;

        img {
          width: 75px;
          height: auto;
        }
      }

      h2 {
        font-size: 1.4rem;
        line-height: 1.5rem;
      }

      h3 {
        font-size: 1.1rem;
        line-height: 1.1rem;
        margin-bottom: 0.2rem;
      }
    }
  }
}
