.offers-cards {
  padding: 1rem 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: calc(100% - 2rem);
  > li {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .card {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    scroll-behavior: smooth;

    .offer--company-summary {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      margin-bottom: 1.6rem;
      figure {
        display: flex;
        align-items: center;
        width: 100px;
        height: 100px;
        margin: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      h3 {
        margin: 0;
      }
      a {
        font-size: 1rem;
        line-height: 1rem;
      }
    }

    h3 {
      font-size: 1.5rem;
      line-height: 1.6rem;
    }

    h2 {
      font-size: 1.7rem;
      line-height: 1.8rem;
      margin-bottom: 0.8rem;
    }

    ul {
      margin-bottom: 1.6rem;
    }

    h4 {
      margin-bottom: 0.8rem;
      font-size: 1.3rem;
      line-height: 1.4rem;
    }

    .offer--description {
      p {
        margin-bottom: 0.6rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .offer--company-profile {
      border: 1px solid $light-grey;
      border-width: 1px 0 0;
      margin-top: 1.6rem;
      padding-top: 1.6rem;
      figure {
        max-width: 125px;
        max-height: 125px;
        margin: 0 auto 1.6rem;
        img {
          width: 100%;
          height: auto;
        }
      }
      h3 {
        text-align: center;
        margin-bottom: 0.8rem;
      }
      .offer--company-description {
        p {
          margin-bottom: 0.6rem;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    aside {
      position: sticky;
      bottom: 0;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-top: 0.8rem;
      gap: 4rem;
      form {
        button {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          border: 0;
          background-color: #fff;
          box-shadow: $shadow-button;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          background-color: #fff;
          background-origin: content-box;
          padding: 10px;
          cursor: pointer;
        }
        &.offer--btn-like button {
          background-image: url("/images/icons/like.svg");
        }
        &.offer--btn-dislike button {
          background-image: url("/images/icons/dislike.svg");
        }
        &.offer--btn-undo {
          position: absolute;
          left: 0;
          button {
            padding: 5px;
            width: 2.5rem;
            height: 2.5rem;
            background-image: url("/images/icons/undo.svg");
          }
        }
      }
    }
  }
}
