// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: var(--font-primary) !default;

/// Secondary font family
/// @type List
$secondary-font-stack: var(--font-secondary) !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(168, 87, 209) !default;

/// Secondary brand color
/// @type Color
$secondary-brand-color: rgb(55, 155, 220) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Red
/// @type Color
$red: rgb(255, 0, 0) !default;

/// Text color
/// @type Color
$text-color: $dark-grey !default;

///Buttons shadow
/// @type Shadow
$shadow-button: rgba(0, 0, 0, 0.2) 0px 4px 12px;

///Cards shadow
/// @type Shadow
$shadow-card: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: "/assets/" !default;
